*{
  margin: 0;
}
.colorchange2{
  width: 100vw;
  height: 100vh;
  animation: colorloop 10s linear infinite;
}
.inverter {
  font-family: Helvetica, sans-serif;
  font-size: calc(4vh + 3.5vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	background: inherit;
	-webkit-background-clip: text;
					background-clip: text;
	color: transparent;
	filter: invert(1) grayscale(1) contrast(10);
}

@keyframes colorloop {
    0%		{background: #d49d42;}
  	50%		{background: black;}
  	100%	{background: #d49d42;}
}