.new_form {
  margin-top: 7em;
  font-family: 'Rammetto One';
}

.new_form h3 {
  font-family: 'Rammetto One';
}

@media only screen and (max-width: 768px) {
.new_form {
  grid-template-columns: 1fr;
  padding: 3em;
  grid-row-gap: 30px;
}
}

.cover-preview {
  display: flex;
  justify-content: space-between;
}
