<br>
<br>
<br>
<div class="card">
  <div class="card-body">
    <%= current_user.loans.name %>

  </div>
</div>

<div class="container mt-2">
  <div class="row d-flex justify-content-center">
    <div class="col-align-self-center">
      <div style="margin-top: 20%">
            <%= link_to "Back", root_path, class: "btn btn-outline-dark"%>
      </div>
    </div>
  </div>
</div>
