.bookcards_show {
  animation: fadeIn;
  animation-duration: 5s;
}

.bookcards {
  margin-top: 10%;
  margin-left: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  
}

@media(max-width: 992px) {
  .bookcards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .bookcards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    grid-row-gap: 20px;
  }
  .backgroundcard {
    background-color: lightgrey;
    background-image: linear-gradient(lightgrey, white);
  }
  
  .card-title {
    font-size: small;
    margin-top: 10%;
  }
  .card-text {
    font-size: small;
    margin-top: 10%;;
  }
  .card-img-top {
  display: flex;
  justify-content: center;

  }


  .bookcards_show {
   grid-template-columns: 1fr;
   padding: 2em;
   grid-row-gap: 30px;
  }
}

.backgroundcard {
  background-color: lightgrey;
    background-image: linear-gradient(lightgrey, white);
}

