

.container {
  margin-top: 50px;
}

.card-title {
  margin-top: 15px;
}

@media screen and (max-width: 425px) {
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-top {
  display: flex;
  justify-content: center;
}
}
