.bookcards {
  margin-top: 10%;
  margin-left: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media(max-width: 992px) {
  .bookcards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .bookcards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 3em;
    grid-row-gap: 30px;
  }
  .card-img-top {
  display: flex;
  justify-content: center;
}
}

.backgroundcard {
  background-image: linear-gradient(to bottom right, lightgrey, white);
}

